{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="container" style="font-family: 'Segoe UI'">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light  bg-dark">
      <a href="#" class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ac">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div collapse navbar-collapse id="ac">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a href="#" class="nav-link ml-auto" style="color: white;">Anasayfa</a>
              </li>

              <li class="nav-item">
                  <a href="#" class="nav-link mr-auto">Hakkında</a>
              </li>

          </ul>
      </div>
  </nav>
</div>

</body>
</html>